@media (orientation: portrait) {
  .footer {
    padding: 0 0 7rem;
  }
}
@media (orientation: landscape) {
  canvas {
    height: 100vh;
  }
}

@media (min-width: 600px) {
  nav {
    height: 75px;
    padding: 2rem;
  }
  footer #foot-mid-text span {
    font-size: 124px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 0.9rem;
  }
}

@media (min-width: 1240px) {
  .member {
    margin-top: -60vh;
  }
}
