@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Urbanist", "Noto Sans KR", sans-serif;
  /* font-family: "Noto Sans KR", sans-serif; */
}

#main {
  position: relative;
  overflow: hidden;
}
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#page4 {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: #e1e1e1; */
  background-color: #e1e1e1;
}
#roadmap {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#profile {
  position: relative;
  height: 150vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#page-prev-last {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#page5 {
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: #e1e1e1;
}
canvas {
  position: absolute;
  z-index: 10;
  max-width: 100vw;
  max-height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  position: fixed;
  z-index: 9;
  padding: 0px 30px;
}
nav h3 {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 22px;
}
#loop {
  white-space: nowrap;
  display: flex;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 30%;
  font-size: 100px;
}
#loop h1 {
  animation: text-loop-animation 24s linear infinite;
  font-weight: 400;
}
#loop h1 span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}
@keyframes text-loop-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#page h3 {
  position: absolute;
  top: 60%;
  font-weight: 300;
  color: #000;
  left: 5%;
  font-size: 14.4px;
}
#page h4 {
  font-weight: 600;
  top: 70%;
  color: #000;
  left: 80%;
  position: absolute;
  font-size: 15px;
  z-index: 50;
}
#page1 #right-text {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 50;
}
#page1 #right-text h3 {
  z-index: 50;
  font-weight: 300;
  color: #000;
  font-size: 15px;
}
#page1 #right-text h1 {
  line-height: 1.2;
  font-size: 43px;
  z-index: 50;
}
#page1 #left-text {
  position: absolute;
  top: 50%;
  right: 5%;
}
#page1 #left-text p {
  font-weight: 300;
  color: #000;
  font-size: 15px;
  text-align: end;
}
#page1 #left-text h1 {
  z-index: 50;
  line-height: 1.2;
  font-size: 43px;
  text-align: end;
}

#page2 #page2-text {
  position: absolute;
  top: 30%;
  left: 5%;
}
#page2 #page2-text h3 {
  font-size: 15px;
  font-weight: 300;
}
#page2 #page2-text h1 {
  line-height: 1.2;
  font-size: 64px;
}
#page2 #page2-left-text span {
  z-index: 15;
  position: absolute;
  font-size: 15px;
  text-align: end;
  right: 5%;
  top: 55%;
}
#page3 #page3-left-text {
  position: absolute;
  top: 45%;
  right: 5%;
}
#page3 #page3-left-text h3 {
  font-size: 15px;
  font-weight: 300;
  text-align: end;
}
#page3 #page3-left-text h1 {
  line-height: 1.2;
  font-size: 64px;
  text-align: end;
}
#page3 #page3-right-text {
  position: absolute;
  top: 30%;
  left: 5%;
}
#page3 #page3-right-text span {
  font-size: 15px;
  line-height: 1.2;
}
#page5 #page5-text h1 {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 800;
  top: 35%;
  left: 15%;
  font-size: 150px;
  position: absolute;
}
#page5 #page5-text span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 800;
  position: absolute;
  font-size: 150px;
  top: 55%;
  left: 25%;
  text-align: center;
}
#page5 #button-div {
  top: 30%;
  display: flex;
  font-size: 5px;
  position: absolute;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#page5 #button-div button {
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
}

#page5 #button-div button a {
  text-decoration: none;
  color: #000;
  padding: 7px;
  margin: 8px;
}
#page5 p {
  text-align: center;
  top: 95%;
  left: 45%;
  position: absolute;
}

#page4 #page4-text {
  text-align: center;
  padding-top: 100px;
}
#page4 #page4-text h3 {
  line-height: 1.2;
  font-size: 15px;
  font-weight: 300;
}
#page4 #page4-text h1 {
  font-size: 64px;
  text-align: center;
  line-height: 1.2;
}
#page4 #page4-text p {
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}
#page4 #page4-img-main-loop {
  white-space: nowrap;
  display: flex;
  position: absolute;
  height: 40%;
  top: 60%;
  overflow: hidden;
}
#page4 #page4-img-main-loop #page4-img-loop {
  animation: img-loop-animation 48s linear infinite;
}

#page4 #page4-img-main-loop #page4-img-loop img {
  height: 100%;
  margin-right: 1px;
}

@keyframes img-loop-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#page-prev-last #page-prev-last-text {
  text-align: center;
  padding-top: 100px;
}
#page-prev-last #page-prev-last-text h3 {
  line-height: 1.2;
  font-size: 15px;
  /* text-align: center; */
  font-weight: 300;
}
#page-prev-last #page-prev-last-text h1 {
  font-size: 64px;
  text-align: center;
  line-height: 1.2;
}
#page-prev-last #page-prev-last-text p {
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}

#profile #prof-top {
  position: absolute;
  top: 10%;
  left: 30%;
}
#profile #prof-top h1 {
  text-align: center;
  font-size: 64px;
}
#profile #prof-top p {
  text-align: center;
  font-size: 15px;
}
#profile #prof-loop {
  position: absolute;
  top: 10%;
}
#profile #prof-loop-text1 {
  white-space: nowrap;
  display: flex;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 20%;
  font-size: 80px;
}
#profile #prof-loop-text1 h1 {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
  animation: text-loop-animation 32s linear infinite;
}
#profile #prof-loop-text2 {
  white-space: nowrap;
  display: flex;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 32%;
  font-size: 80px;
}
#profile #prof-loop-text2 h1 {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
  animation: text-loop-animation 24s linear infinite reverse;
}
#profile #prof-loop-text3 {
  white-space: nowrap;
  display: flex;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 44%;
  font-size: 80px;
}

#profile #prof-loop-text3 h1 {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
  animation: text-loop-animation 48s linear infinite;
}
#profile #prof-desc {
  position: absolute;
  left: 33%;
  top: 28%;
  height: 100%;
}
#profile #prof-desc img {
  z-index: 10;
  height: 45%;
  width: 100%;
}
#profile #prof-desc #prof-desc-text h4 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}
#profile #prof-desc #prof-desc-text h5 {
  margin-top: 5px;
  font-size: 14x;
  text-align: center;
  line-height: 1.2;
}

#profile #prof-desc #prof-desc-text p {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
  /* left: -50%; */
}

#roadmap h1 {
  text-align: center;
  top: 20%;
  left: 41%;
  font-size: 64px;
  position: absolute;
}
#roadmap p {
  text-align: center;
  position: absolute;
  font-size: 15px;
  top: 30%;
  left: 40%;
}
nav button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: 500;
}
footer {
  position: relative;
  width: 100%;
  background-color: #e1e1e1;
  /* background: #171010; */
  /* padding: 0 0 2rem; */
}
footer a {
  color: black;
  text-decoration: none;
}
footer #foot-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer #foot-links a {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 200px;
  padding: 0.5em;
  margin: 0.5rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  color: black;
  text-decoration: none;
}

footer #foot-links a:hover {
  background: black;
  color: #fff;
}

footer #foot-mid-text {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-size: 130px;
  letter-spacing: -2px;
  line-height: 1;
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
  font-style: italic;
}
footer #foot-bottom p {
  text-align: center;
}
footer #foot-bottom span {
  font-family: "Noto Sans KR", sans-serif;
}

#roadmap #box-container {
  width: 90%;
  max-width: 1400px;
  display: flex;
  flex-wrap: nowrap;

  position: absolute;
  padding: 4rem 1rem 12rem;
}
#roadmap #box-container h4 {
  width: 100%;
  text-align: left;
  border-radius: 0.7rem;
  margin: 0.5rem;
  padding: 1.5rem 2rem;
  background: #fff;
  color: #171010;
}
#roadmap #box-container p {
  margin: 0.5em 0;
}

#roadmap-div {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
}
#roadmap-div #roadmap-div-header {
  padding-top: 100px;
  /* padding-left: 40%; */
  /* padding-right: 50%; */
  text-align: center;
}
#roadmap-div #roadmap-div-header h1 {
  font-size: 64px;
}
#roadmap-div #roadmap-div-header p {
  font-size: 14px;
}
#roadmap-div #container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 100px;
  width: 85rem;
  /* left: 45%; */
  margin-right: auto;
  margin-left: auto;
}
#roadmap-div #container #box {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  margin: 10px;
}
#roadmap-div #container #box span {
  font-size: 14px;
  margin-bottom: 10px;
}
#roadmap-div #container #box h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
#roadmmap-div #container #box p {
  font-size: 14px;
  /* text-align: left; */
  line-height: 1.2;
  margin-bottom: 5px;
}

#div-learn {
  height: 100%;
  width: 50px;
  background-color: white;
}

#profile #profile-header {
  text-align: center;
  padding-top: 50px;
}
#profile #profile-header h1 {
  font-size: 64px;
}
#profile #profile-header p {
  font-size: 14px;
}

#prof-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 5;
  top: 20%;
}

#prof-container #prof-card {
  overflow: hidden;
  /* background-color: aqua; */
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#prof-container #prof-card img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 1rem;
}
#prof-container #prof-card #prof-card-content {
  text-align: center;
  max-width: 500px;
  /* margin-left: 45px; */
}
#prof-container #prof-card #prof-card-content h4 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}
#prof-container #prof-card #prof-card-content h5 {
  font-size: 17px;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}
#prof-container #prof-card #prof-card-content p {
  font-size: 14px;
  /* max-width: 500px; */
  margin-bottom: 0.5rem;
}
